<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Available offers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of offers">
      <ion-card color="medium">
        <ion-card-header>
          <ion-card-subtitle>{{item.id}}</ion-card-subtitle>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p> Offer ends on {{item.contractEndDate | date : "medium"}}</p>
          <p>Offer stars on {{item.contractStartDate | date : "medium"}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
